
body {
    font-family: Arial, sans-serif;
    background-color: rgba(242, 27, 27, 0.2);
    
    color: #333333;
    margin: 0;
    padding-top: 50px;
}

.banner > div {
    padding: 20px;
}

.banner {
    display: flex;
    align-items: center;
    max-width: 60%;
    min-width: 560px;
    max-height: 400px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow:  2px 2px 10px #060606;
    border-radius: 5px;
    background-color: #F0F4F2;
}

h2 {
    font-size: 1.8em;
    text-shadow: 2px 2px 10px white, -5px -5px 5px #C1CDC8, 5px 5px 4px #4C7D68;
}

.text-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;

}

.image-content {
    max-width: 25%;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    object-fit: cover;
    
}

img {
    width: 100%;
    border-radius: 5px;
    padding: 0px;
    box-shadow:  2px 2px 10px #060606;
    
}

button {
    background-color: hsl(247, 87%, 76%);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:  5px 5px 5px #9595c3;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}