body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}


section {
    margin: 100px;
    border: 1px solid #ccc;
    box-shadow: #ccc 0px 0px 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

header {
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 50%;
}

header p, footer p {
    opacity: 0.7;
}

.container {
    margin: 0 auto;
    display: flex;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-around;
    gap: 30px;
}

footer {
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 80%;
}

hr {
    border-top: 1px solid #ccc;
    width: 10%;


}

 